@font-face {font-family: 'Renner'; src: url('../fonts/Renner_ 400 Book.ttf') format('truetype');}
@font-face {font-family: 'GameBoy'; src: url('../fonts/EarlyGameBoy.woff') format('woff');}
@font-face {font-family: 'Electronic'; src: url('../fonts/ElectronicHighwaySign.woff') format('woff');}

body {width:100%; height:1383px; padding:0 !important; margin:0 auto; background-color:gray; font-family:Renner;}
div,header,section,nav,article,footer,h1,h2,h3,h4,h5,h6,ul,li,img,span,address,dl,dt,dd,form,fieldset,legend,label,
input,p,a,select,table,tbody,th,td,tr,ol,caption,colgroup,col,option,button{margin:0; padding:0; outline: none;}
h1, h2, h3, h4, h5, h6, form, fieldset, img {border:0 none;}
/*h1, h2, h3, h4, h5, h6, button, textarea, select{font-size:1em;}*/
ul,li,dl,dt,dd{list-style:none;}
a, a:hover, a:focus {text-decoration:none !important; cursor:pointer;}
label, input, button, select, img {vertical-align:middle}
img {border:0;}
select {border-radius: 0;}
button {cursor:pointer;}
table{border-collapse:collapse;}
p {word-break:break-all;}
hr {display:none;}
pre {overflow-x:scroll;}
address,em{font-style:normal;}
mark{font-weight:700;background:0 0;}
header, nav, section, footer, article, aside, details, figcaption, figure, menu{display:block;}

@media all and (min-width: 768px) and (max-width: 1270px) {
    body { width:1280px;}
}

@media all and (min-width: 385px) and (max-width: 1270px) {
    body { width:1280px;}
    .navbar-nav {margin:0;}
    nav .box1, 
    nav .box1 li {float:left;}
    .info-box,
    .info-box li {float:left;}
    .info-box2,
    .info-box2 li {float:left;}
    .login-box {float:left;}
}

.alert {z-index:9999;}
.r15 {font-size:1.5rem;}
.f16 {font-size:16px;}
.f20 {font-size:20px;}
.tl {text-align:left;}
.tc {text-align: center;}
.mt15 {margin-top:15px;}
.mt25 {margin-top:25px;}
.mr10 {margin-right:10px;}
.ml15 {margin-left:15px;}
.pl10 {padding-left:10px;}
.pr90 {padding-right:90px;}

.ffde00 {color:#ffde00;}
.ffae00 {color:#ffae00;}
.ff8a00 {color:#ff8a00;}
.clear {clear:both;}
.cursor {cursor:pointer;}
.fff {color:#fff;}
.ff6665 {color:#ff6665;}
.text-cut {text-overflow:ellipsis; overflow:hidden;}

.container {width:100%; height:720px; margin:0 auto;}
.bet-list{width:100%; height:870px; margin:0 auto;}
footer {width:100%;height: 221px;margin:0 auto;background-color:#131016;}

/*nav*/
nav {width:100%; height:70px; margin-bottom:0 !important; background:url("../img/navbg.png") no-repeat center center; background-size:cover; border-radius:0 !important;}
nav .box1 {height:70px;}
nav .box1 li {margin-top:20px; padding-top:3px; }
nav .box1 li:first-child {margin-top:15px;}
nav .box1 li:nth-child(2), nav .box1 li:nth-child(3) {padding-right:5px; border-right:1px solid #634f81;}
nav .top-logo {width:200px; height:70px; padding:10px; float:left;}
nav .top-logo > a {width:200px; margin:0 auto;}
.logo {width:203px; height:70px;}
/*.how-play {position:relative; width:150px; line-height:65px !important; text-aling:center;}*/
.how-play {width:150px;}
.how-play a {margin-left: 21px;}
.how-play a span.btn-text {display:inline-block; width:115px; height:32px; font-size:13px; font-weight:600; color:#f5f1f8; text-align:center; border:2px solid #6d61ab; border-radius:15px; padding:4px 10px; background:rgba(0,0,0,0.7);}
.how-play a:hover span.btn-text {display:inline-block; width:115px; font-size:13px; font-weight:bold; color:#f5f1f8; text-align:center; border:2px solid #6d61ab; border-radius:15px; padding:4px 10px; background:#64599c;}
/*.how-play a span.btn-text{position:absolute;display:block;left:8px;bottom:-4px;width:150px;line-height:70px;text-align:center;font-size:13px;font-weight:bold;color:#f5f1f8;}*/
.gnb-default {width:112px; text-align:center; font-size:15px; font-weight:bold;}
.gnb-default a {color:#d2c3dc;}
.gnb-default a:hover, .gnb-default a:focus {color:#ffce23 !important;}
.info-box {width:130px; margin-top:9px;}
.info-box .cpu {margin-right:15px; font-size:12px; font-weight:bold; }
.info-box .net {font-size:12px; font-weight:bold;}
.info-box2 {width:200px; height:70px; padding-top: 2px; text-align:center;}
.info-box2 .eos {width:100px; height:35px; margin-top:15px; padding-top:8px; padding-right:5px; border-right:1px solid #634f81; font-weight:bold; color:#00b62f;}
.info-box2 .er {width:100px; height:35px; margin-top:15px; padding-top:8px; padding-left:5px; font-weight:bold; color:#ff6564;}
.info-box2 .eos p:nth-child(1), .info-box2 .er p:nth-child(1) {max-width:100px; margin-top:-10px; margin-bottom:2px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:11px;}
.info-box2 .eos p:nth-child(2), .info-box2 .er p:nth-child(2) {font-size:16px; font-weight:400;}
.login-box {text-align:center;}
.login-box .login-btn {position:relative; width:110px; height:70px; line-height:70px; font-size:16px; font-weight:bold;}
.login-box .logout-btn {width:110px; padding-top:6px; padding-left:15px; position:relative; }
.login-box .logout-btn span.user-name {width:95px; display:block; margin-bottom:2px; font-size:14px; text-align:center; color:#fad218; /*text-decoration:underline;*/ text-overflow:ellipsis; overflow:hidden;}
.login-box .logout-btn span.btn-text {position:absolute; display:table-cell; bottom:15px; width:80px; top:34px; left:21px; text-align:center; font-size:16px; color:#ffd99d;}
.login-box .logout-btn a img {width:80px; height:35px;}
.login-box .logout-btn img.logout-img2 {display:none;}
.login-box .logout-btn a:hover img.logout-img {display:none;}
.login-box .logout-btn a:hover img.logout-img2 {display:inline-block; width:80px; height:35px;}
.login-btn a span.btn-text{position:absolute; display:block; left:0; bottom:0; width:100%; line-height:75px; text-align:center; font-size:16px;font-weight:600;color:#ffd99d;}
.login-btn img:nth-child(2) {display:none;}
.login-btn a:hover img:nth-child(1) {display:none;}
.login-btn a:hover img:nth-child(2) {display:inline-block;}

.dropdown.wifi-box {display:inline-block; float:left; height:70px; padding:20px; cursor:pointer;}
.dropdown.wifi-box img:nth-child(2), .dropdown.wifi-box img:nth-child(3) {display:none;}
.dropdown.wifi-box:hover img:nth-child(1), .dropdown.wifi-box:hover img:nth-child(3) {display:none;}
.dropdown.wifi-box:hover img:nth-child(2) {display:inline-block;}
.dropdown.wifi-box.open img:nth-child(1), .dropdown.wifi-box.open img:nth-child(2) {display:none;}
.dropdown.wifi-box.open img:nth-child(3) {display:inline-block;}
.dropdown.wifi-box ul.dropdown-menu {height:247px; left:-50px; margin-top:0; padding:0; overflow-x:hidden; overflow-y:auto; border-left:1px solid #7f7b82; border-right:1px solid #7f7b82; border-bottom:1px solid #7f7b82; border-radius:0; background:rgba(28,16,42,0.7); color:#fff;}
 ul.dropdown-menu::-webkit-scrollbar {width:10px;}
 ul.dropdown-menu::-webkit-scrollbar-track-piece {background-color:#332046; border-left:1px solid #7f7b82;}
 ul.dropdown-menu::-webkit-scrollbar-track {background-color:transparent;}
 ul.dropdown-menu::-webkit-scrollbar-thumb {background:#6d61ab; border-left:1px solid #7f7b82;} 
.dropdown.wifi-box ul.dropdown-menu li {width:175px; height:35px; line-height:35px; padding-left:20px; font-size:15px; border-bottom:0.5px solid #7f7b82; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.dropdown.wifi-box ul.dropdown-menu li:last-child {border-bottom:none;}
.dropdown.wifi-box ul.dropdown-menu li:hover {background:#ffce23; color:#000; padding-left:15px;}
.dropdown.wifi-box ul.dropdown-menu li.active {background:#ffce23; color:#000; padding-left:15px;}
.dropdown.wifi-box ul.dropdown-menu li.active::before {content:""; margin-right:5px; padding-left:10px; background:url('../img/wifi-before.png') repeat-x left; background-size:15px 12px;}

.lang-select {line-height:70px;}
.lang-select > select {width:70px; height:40px; border-radius:70px; background-color:#1a1323;}

.wSelect-arrow {display:none;}


/* slot-container */
.dt-size {height: 950px !important;}
.container.slot-ct {background:url('../img/slot-bg.jpg')center center no-repeat; background-size:1920px 100%;}
.container.slot-ct .slot-wrap {position:relative; width:870px; height:720px; margin:0 auto; padding-top:231px; overflow:hidden; background:url('../img/all_frame.png')no-repeat; background-size:870px 720px;}
.container.slot-ct .slot-wrap .top-grand-jackpot {position:absolute; width:320px; line-height:34px; top:45px; left:263px; text-align:right; font-family:GameBoy; color:#5ffd00; font-size:24px; letter-spacing:-2.5px; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.container.slot-ct .slot-wrap .get-eos-box {font-size:26px; color:#4bf600; font-family:Electronic; text-align:right;}
.container.slot-ct .slot-wrap .get-eos-box p:nth-child(1) {position:absolute; width:225px; line-height:30px; top:92px; right:122px;}
.container.slot-ct .slot-wrap .get-eos-box p:nth-child(2) {position:absolute; width:207px; line-height:29px; top:131px; right:122px;}
.container.slot-ct .slot-wrap .get-eos-box p:nth-child(3) {position:absolute; width:198px; line-height:29px; top:168px; right:122px;}
.container.slot-ct .slot-wrap .machine-lamp-on.left-lamp {position:absolute; width:220px; height:71px; top:3px; left:33px; background:url('../img/machine_lamp.png')no-repeat; background-size:220px 71px; }
.container.slot-ct .slot-wrap .machine-lamp-on.right-lamp {position:absolute; width:220px; height:71px; top:3px; right:30px; background:url('../img/machine_lamp.png')no-repeat; background-size:220px 71px; transform: rotateY(180deg);}
/*.container.slot-ct .slot-wrap .jackpot-min {display:none; position:absolute; width:258px; height:115px; top:29px; right:87px; background:url(../img/jackpot_min_result.png)no-repeat;}
.container.slot-ct .slot-wrap .jackpot-5{display:none; position:absolute; width:258px; height:115px; top:29px; right:87px; background:url(../img/jackpot_05_result.png)no-repeat;}
.container.slot-ct .slot-wrap .jackpot-10 {display:none; position:absolute; width:258px; height:115px; top:29px; right:87px; background:url(../img/jackpot_10_result.png)no-repeat;}
.container.slot-ct .slot-wrap .jackpot-max {display:none; position:absolute; width:258px; height:115px; top:29px; right:87px; background:url(../img/jackpot_max_result.png)no-repeat;}
*/
.container.slot-ct .slot-wrap .real-slot {width:690px; height:388px; margin:0 auto !important; background-color:#000 !important; background-image:url('../img/logo-big.png') !important; background-repeat:no-repeat !important; background-position:center 35% !important;}
/*.container.slot-ct .slot-wrap .btns-wrap {margin-top:-16px; margin-left:56px;}*/
.container.slot-ct .slot-wrap .btns-wrap {position:absolute; margin-top:-4px; margin-left:56px;}
.slot-wrap .btns-wrap a.info-btn {margin-left:10px;}
.slot-wrap .btns-wrap a.info-btn img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap a.info-btn:hover img:nth-child(1), .slot-wrap .btns-wrap a.info-btn:focus img:nth-child(1) {display:none;}
.slot-wrap .btns-wrap a.info-btn:hover img:nth-child(2), .slot-wrap .btns-wrap a.info-btn:focus img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .min-btn {margin-left:-12px;}
.slot-wrap .btns-wrap .min-btn img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap .min-btn.on img:nth-child(1) {display:none;}
.slot-wrap .btns-wrap .min-btn.on img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .zerofive-btn {margin-left:-8px;}
.slot-wrap .btns-wrap .zerofive-btn img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap .zerofive-btn.on img:nth-child(1) {display:none;}
.slot-wrap .btns-wrap .zerofive-btn.on img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .one-btn {margin-left:-3px;}
.slot-wrap .btns-wrap .one-btn img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap .one-btn.on img:nth-child(1) {display:none;}
.slot-wrap .btns-wrap .one-btn.on img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .max-btn {margin-left:-3px;}
.slot-wrap .btns-wrap .max-btn img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap .max-btn.on img:nth-child(1) {display:none;}
.slot-wrap .btns-wrap .max-btn.on img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .auto-btn {margin-left:-10px;}
.slot-wrap .btns-wrap .auto-btn img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap .auto-btn.on img:nth-child(1) {display:none;}
.slot-wrap .btns-wrap .auto-btn.on img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .spin-btn {position:absolute; margin-top:-15px;margin-left:-24px;}
.slot-wrap .btns-wrap .spin-btn img:nth-child(2), .slot-wrap .btns-wrap a.spin-btn img:nth-child(3) {display:none;}
.slot-wrap .btns-wrap .spin-btn.spin-btn-hover:hover img:nth-child(1), .slot-wrap .btns-wrap a.spin-btn.spin-btn-hover:hover img:nth-child(3) {display:none;}
.slot-wrap .btns-wrap .spin-btn.spin-btn-hover:hover img:nth-child(2) {display:inline-block;}
.slot-wrap .btns-wrap .spin-btn.on img:nth-child(1), .slot-wrap .btns-wrap a.spin-btn:focus img:nth-child(2) {display:none;}
.slot-wrap .btns-wrap .spin-btn.on img:nth-child(3) {display:inline-block;}

.detail-body {padding-top:25px; background-color:#343336;}
.detail-body .symbol-box {width:580px; height:302px; margin:0 auto; padding:15px; background:#262527;}
.detail-body .symbol-box table > tbody > tr > td {width:110px; height:90px; padding:0; text-align:center; border:1px solid #804efc;}
.detail-body .text-box {padding:40px 115px;}
.detail-body .text-box .detail-text {margin-bottom:15px;}
.detail-body .text-box .detail-text p {line-height:30px; border-bottom:1px solid #454549;}
.detail-body .text-box .detail-text p > label {margin-right:10px; font-size:16px; letter-spacing:0.5px; font-weight:bold; color:#939195; vertical-align:top;}
.detail-body .text-box .detail-text p span {display:inline-block; line-height:30px; letter-spacing:0.5px; vertical-align:bottom; font-size:16px; color:#fff;}

.detail-body .text-box .verify {display:table-cell; width:165px; height:54px; text-align:center; vertical-align:middle; font-size:28px; color:#fff; background:url('../img/detail-btn.png') no-repeat;}

/* bet-list */
.bet-list {position:relative; padding:15px 0; background:url('../img/list-bg.png'); border-top:2px solid #6d61ab;}
.bet-list > ul {width:958px; margin:0 auto;}
.bet-list > ul li:nth-child(-n+2) {margin-right:11px;}
.bet-list > ul li a {width:306px; line-height:15px; text-align:center; font-size:18px; color:#808080; background:url('../img/list-btn.png') no-repeat;}
/*.bet-list > ul li a:hover, .bet-list > ul li a:focus, .bet-list > ul li.active a {border:1px solid #ffce23; color:#ffce23 !important; box-shadow:0 0 11px #ffce23; }*/
.bet-list > ul li.active a {border:1px solid #ffce23; color:#ffce23 !important; box-shadow:0 0 11px #ffce23; }
.bet-list > .tab-content {width:958px; height:333px; margin:0 auto}
.bet-list > .tab-content table {margin-top:10px;}
.bet-list > .tab-content table thead {display:block; width:946px; background:url('../img/list-top.png') no-repeat; background-size:946px 36px;}
.bet-list > .tab-content table thead tr th {text-align:center; border:none; font-size:15px; font-weight:400; color:#606060;}
.bet-list > .tab-content table thead tr th:nth-child(1), .bet-list > .tab-content table tbody tr td:nth-child(1) {width:100px; text-overflow:ellipsis; overflow:hidden;}
.bet-list > .tab-content table thead tr th:nth-child(2), .bet-list > .tab-content table tbody tr td:nth-child(2) {min-width:178px; max-width:178px; text-overflow:ellipsis; overflow:hidden;}
.bet-list > .tab-content table thead tr th:nth-child(3), .bet-list > .tab-content table tbody tr td:nth-child(3) {min-width:149px; max-width:149px; text-overflow:ellipsis; overflow:hidden;}
.bet-list > .tab-content table thead tr th:nth-child(4), .bet-list > .tab-content table tbody tr td:nth-child(4) {width:258px; text-overflow:ellipsis; overflow:hidden;}
.bet-list > .tab-content table thead tr th:nth-child(5), .bet-list > .tab-content table tbody tr td:nth-child(5) {min-width:173px; max-width:173px; text-overflow:ellipsis; overflow:hidden;}
.bet-list > .tab-content table thead tr th:nth-child(6), .bet-list > .tab-content table tbody tr td:nth-child(6) {min-width:100px; max-width:100px; text-overflow:ellipsis; overflow:hidden;}

.bet-list > .tab-content table tbody {display:block; height:750px; overflow-y:scroll;}
/* width */
.bet-list > .tab-content table tbody::-webkit-scrollbar {width: 12px;}
/* Track */
.bet-list > .tab-content table tbody::-webkit-scrollbar-track {box-shadow:none; border-radius:10px;}
/* Handle */
.bet-list > .tab-content table tbody::-webkit-scrollbar-thumb {background: #6d5d79; border-radius: 10px;}
/* Handle on hover */
.bet-list > .tab-content table tbody::-webkit-scrollbar-thumb:hover {background: #6d5d79;}

.bet-list > .tab-content table tbody tr:nth-child(odd) {background: rgba(0,0,0,0.1); }
.bet-list > .tab-content table tbody tr:nth-child(even) {background: rgba(38,34,42,0.5);}
.bet-list > .tab-content table tbody tr td {text-align:center; vertical-align:middle; border:none;}
.bet-list > .tab-content table tbody tr td:nth-child(-n+3){font-size:16px; color:#bebebe;}
.bet-list > .tab-content table tbody tr td:nth-child(5) {font-size:16px; color:#bebebe;}
.bet-list > .tab-content table tbody tr td:nth-child(6) {font-size:16px; color:#ab64e2; text-decoration:underline;}
.bet-list td.rst-td > div {display:inline-block;}
.bet-list td.rst-td img {display:inline-block; position:relative; width:31px; height:31px;}
.bet-list td.rst-td span {display:inline-block; width:25px; height:25px; margin-top:4px; margin-left:-11px; padding-top:2px; font-size:14px; color:#e3e3e3; background:url('../img/list-round.png') no-repeat;}
.bet-list td.rst-td p {margin-top:5px; font-size:14px; color:#93859e;}


/* table */
.bet-list tr.win {background-color:#334e47 !important; border-bottom:1px solid #2e423d !important;}
.bet-list td.win {color:#00b62f !important;}
.bet-list td.bigwin {color:#189bea !important;}

/* footer */
footer .footer {width:1280px; margin:0 auto; padding:10px 30px;}
.footer .footer-logos {margin-bottom:5px;}
.footer .footer-logos .left-logo {padding-top:5px; float:left;}
.footer .footer-logos .right-icons {float:right;}
.footer .footer-logos .right-icons img {margin-left:15px;}
.footer div.clear {padding-right:203px;}
.footer .footer-text {font-size:13px; color:#686868;}
.footer .footer-text:nth-child(2) {margin-top:10px;}

/*how to modal*/
.modal-close {float:right; cursor:pointer;}
.ct-modal {text-align:center; padding:0 !important;}
.ct-modal:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px;}
.ct-modal .nav-tabs > li > a {color:#e2e2e2;}
.ct-modal .nav-tabs > li > a:hover, .ct-modal .nav-tabs > li > a:focus, .ct-modal .nav-tabs > li.active > a {outline:none !important; color:#fff; text-shadow:0 0 9px #fff; border:0;}
.ct-modal-dialog {display: inline-block;width:947px;height: 780px;text-align: left;vertical-align: middle;}
.ct-modal-dialog .modal-content{width:947px;height: 780px;background-color:#343336;}
.ct-modal-dialog .modal-content .modal-header {border-bottom:1px solid #1a1a1c; padding:10px !important;}
.ct-modal-dialog > .modal-content > .modal-header > img {margin-top:5px; margin-right:10px;}
.ct-modal-dialog .modal-content .modal-title {text-align:center; color:#e6daff; font-size:30px !important;}
.ct-modal-dialog .modal-body {padding:0 !important;}
.ct-modal-dialog .modal-body .howto-body {padding:25px; color:#e6daff; font-size:24px;}
.ct-modal-dialog .modal-body .howto-body ul{margin-top:40px;}
.ct-modal-dialog .modal-body .howto-body a {color:#e6daff;}
.ct-modal-dialog .modal-body .howto-body a > span{text-decoration: underline; color:#9460ff !important;}

/*payTable modal*/
.pt-modal {width:950px; height:1108px !important;}
#payModal > .ct-modal-dialog.pt-modal {margin:70px auto;}
.modal-body .pt-body {width:825px; margin:0 auto; color:#e6daff; font-size:24px}
.modal-body .pt-body .pt-line-box {margin-top:25px; font-size:25px; color:#906cf7; text-align:center; text-decoration:underline;}
.modal-body .pt-body .row.grand-jackpot-row {width:825px; margin:0 auto; margin-top:10px;}
.modal-body .pt-body .row.grand-jackpot-row fieldset.col-xs-12.col-sm-12 {padding:0 20px 10px 35px; border:1px solid #35a200;}
.modal-body .pt-body .row.grand-jackpot-row fieldset.col-xs-12.col-sm-12 legend {display: inline-block; width:370px; padding-left:10px; padding-right:10px; text-align:center; border:none; color:#35a200;font-size:25px;}
.modal-body .pt-body .row.grand-jackpot-row fieldset.col-xs-12.col-sm-12 legend span.green-star {color:#35a200; font-size:20px;}
.modal-body .pt-body .row.grand-jackpot-row fieldset.col-xs-12.col-sm-12 legend > span {font-size:21px; color:#ffa60c;}
.pt-body .row.grand-jackpot-row .col-xs-12.col-sm-12 .symbol-wrap {display:inline-block; float:left; width:33%; font-size:30px;}
.pt-body .row.grand-jackpot-row .col-xs-12.col-sm-12 .symbol-wrap > img {float:left; margin-right:20px;} 
.pt-body .row.grand-jackpot-row .col-xs-12.col-sm-12 .symbol-wrap > p {float:left; line-height:75px; color:#4de403;}
.modal-body .pt-body .row.jackpot-row {width:825px; margin:0 auto; margin-top:20px;}
.modal-body .pt-body .row.jackpot-row fieldset.col-xs-12.col-sm-12 {padding:0 20px 10px; border:1px solid #ffc600;}
.modal-body .pt-body .row.jackpot-row fieldset.col-xs-12.col-sm-12 legend {display: inline-block; width:207px; padding-left:10px; padding-right:10px; text-align:center; border:none; color:#ffde00;font-size:21px;}
.modal-body .pt-body .row.jackpot-row fieldset.col-xs-12.col-sm-12 legend > span {font-size:21px; color:#ff4e00;}
.modal-body .pt-body .row.jackpot-row fieldset.col-xs-12.col-sm-12 img {float:left; margin-right:80px;}
.pt-body .row.jackpot-row .col-xs-12.col-sm-12 .symbol-wrap {display:inline-block; float:left; width:19%; margin-top:13px; font-size:18px;}
.pt-body > fieldset.row {clear:both; width:825px; margin:20px auto 0 auto; padding-bottom:10px; border:1px solid #6d6d6d;}
.pt-body > fieldset.row > legend {display:inline-block; width:200px; padding-left:10px; padding-right:10px; text-align:center; color:#808080; border:none;}
.pt-body > fieldset.row > legend > span {color:#009cff;}
.col-xs-4.col-sm-3 > img {margin-right:15px; float:left;}
.col-xs-4.col-sm-3 .symbol-wrap {display:inline-block; line-height:20px; margin-top:7px; font-size:18px; }
.col-xs-4.col-sm-3 .symbol-wrap > p {color:#939195;}
.col-xs-4.col-sm-3 .symbol-wrap > p > span {color:#fff;}

/*dividend modal*/
.dividend-modal {width:947px; height:830px !important;}
.dividend-bg {background:url("../img/dividend-bg.png") no-repeat center center; background-color:none; border:0; box-shadow:0; background-size:cover;}
.dividend-modal .modal-header {padding:25px; border:none !important;}
.dividend-modal .modal-header .nav-tabs {border:none;}
.dividend-modal .modal-header .nav-tabs li {width:22%;}
.dividend-modal .modal-header .nav-tabs > li.active > a, .dividend-modal .modal-header .nav-tabs > li.active > a:hover, .dividend-modal .modal-header .nav-tabs > li.active > a:focus {color:#e2e2e2; background-color:transparent; border:none;}
.dividend-modal .dividend-body {margin:100px 0 0 auto;}
.dividend-modal .dividend-body .tab-content {margin:0 auto;}
.dividend-modal .dividend-body .tab-content h3 {font-size:30px; color:#e3e3e3; text-align:center;}
.dividend-modal .dividend-body .tab-content h3 > img {margin-top:-5px;}
.dv-content {width:800px; margin:0 auto;}

.dv-content .total-div {height: 40px;margin-top: 5px;margin-left:35px;/*background: url("../img/dividend-box1.png") no-repeat;*/}
.dv-content .total-div .total-text {padding:0 65px 0 55px;}

/*
.dv-content .total-div .total-text span:nth-child(1) {line-height:75px; font-size:24px; color:#e3e3e3;}
.dv-content .total-div .total-text .total-eos {float: right;}
.dv-content .total-div .total-text .total-eos span:nth-child(1) {max-width:450px; line-height:75px; float:left; text-align:right; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:45px; color:#00b62f;}
.dv-content .total-div .total-text .total-eos span:nth-child(2) {line-height:75px; margin-left:25px; font-size:24px; color:#8a8a8a; vertical-align:bottom;}
*/

.dv-content .total-div .next-payout {clear:both;margin-top: 20px;padding-right: 35px;float:right;}
.dv-content .total-div .next-payout span {margin-left:10px; font-size:21px; vertical-align:middle; color:#e0b049;}
.dv-content .total-div .next-payout b {margin-left:10px; font-size:21px; vertical-align:middle; color:#fff;}
.dv-content .three-boxs {margin:20px 25px 0 35px;padding-top: 15px;}
.dv-content .three-boxs .eos-pool {width:351px;height:201px; float:left; margin: auto;background: url("../img/dividend-box2.png") no-repeat;}
.dv-content .three-boxs .eos-pool .eos-icon-img {width:158px; height:201px; float:left; padding:50px 30px;}
.dv-content .three-boxs .eos-pool .eos-pool-text {width:175px; height:201px; float:left; padding:35px 0; text-align:center;}
.dv-content .three-boxs .eos-pool .eos-pool-text p:nth-child(1) {margin-bottom:20px; font-size:24px; color:#e3e3e3;}
.dv-content .three-boxs .eos-pool .eos-pool-text p:nth-child(2) {width:175px; height:51px; overflow:hidden; text-overflow:ellipsis; font-size:36px; color:#00b62f;}
.dv-content .three-boxs .eos-pool .eos-pool-text p:nth-child(3) {font-size:18px; color:#8a8a8a;}
.dv-content .three-boxs .expected-box {display: inline-block; width:351px; height:201px; margin-left:28px;}
.dv-content .three-boxs .expected-box .eos-today {height:100px; padding-top:10px; background: url("../img/dividend-box3.png") no-repeat; text-align:center;}
.dv-content .three-boxs .expected-box .eos-today p:nth-child(1) {font-size:24px; color:#e3e3e3;}
.dv-content .three-boxs .expected-box .eos-today p span:nth-child(1) {display:inline-block; max-width:265px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:30px; color:#87ffa3;}
.dv-content .three-boxs .expected-box .eos-today p span:nth-child(2) {display:inline-block; height:42px; line-height:42px; margin-left:10px; vertical-align:top; font-size:18px; color:#8a8a8a;}
.dv-content .three-boxs .expected-box .eos-er {height:100px; margin-top:5px; padding-top:10px; background: url("../img/dividend-box3.png") no-repeat; text-align:center;}
.dv-content .three-boxs .expected-box .eos-er p:nth-child(1) {font-size:24px; color:#e3e3e3;}
.dv-content .three-boxs .expected-box .eos-er p span:nth-child(1) {display:inline-block; max-width:265px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:30px; color:#87ffa3;}
.dv-content .three-boxs .expected-box .eos-er p span:nth-child(2) {display:inline-block; height:42px; line-height:42px; margin-left:10px; vertical-align:top; font-size:18px; color:#8a8a8a;}

/* dividend question modal */
.info-dialog {width:765px; margin:180px auto;}
.info-modal1 {background:#ddd; border-radius:15px;}
.info-modal1 > .modal-header {padding:15px 15px 0 15px; border-bottom:0; text-align:center;}
.info-modal1 > .modal-header img:nth-child(1) {padding:30px;}
.info-modal1 > .modal-header img:nth-child(2) {padding-top:15px; padding-left:125px;}
.info-modal1 > .modal-body {padding:0 5px 40px 55px;}
.info-modal1 > .modal-body > h3 {font-size:25px; color:#5e2988; text-align:center;}
.info-modal1 > .modal-body > p {margin-top:20px; font-size:18px; color:#4a4a4a; text-align:center;}
.info-modal1 > .modal-body div.tl {margin-top:20px;}
.info-modal1 > .modal-body div.tl p:nth-child(1) {font-size:16px; color:#4a4a4a;}
.info-modal1 > .modal-body div.tl p:nth-child(2) {margin-top:15px; font-size:16px; color:#806595;}

/* 'stake' modal */
.stake-content {width:800px; margin:0 auto;}
.stake-content .total-div {margin-top:20px;}
.stake-content .total-div .total-text:nth-child(1) {margin-top:20px; margin-left:35px; padding:0 90px 0 65px; background: url("../img/dividend-box1.png") no-repeat;}
.stake-content .total-div .total-text:nth-child(1) > span {line-height:75px; font-size:24px; color:#e3e3e3;}
.stake-content .total-div .total-text:nth-child(2) {margin-top:10px; margin-left:35px; padding:0 90px 0 65px; background: url("../img/dividend-box1.png") no-repeat;}
.stake-content .total-div .total-text:nth-child(2) > span {line-height:75px; font-size:24px; color:#e3e3e3;}
.stake-content .total-div .total-text .total-er {float: right;}
.stake-content .total-div .total-text .total-er span:nth-child(1) {max-width:310px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:right; line-height:75px; font-size:36px;}
.stake-content .total-div .total-text .total-er span:nth-child(2) {line-height:75px; margin-left:25px; font-size:24px; color:#8a8a8a; vertical-align:bottom;}

.inner-wrap .inner-box > span {font-size:24px; color:#e3e3e3;}
.inner-wrap .inner-box .total-er {float:right;}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.stake-content .three-boxs {margin:10px 25px 0 35px;}
.av-stake .inner-wrap {width:551px; height:106px; margin-right:20px; padding:5px 25px 5px 65px; float:left; background:url('../img/stake-box2.png') no-repeat;}
.av-stake .inner-wrap .inner-box .total-er span:nth-child(1) {display:inline-block; max-width:190px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:28px; color:#fff;}
.av-stake .inner-wrap .inner-box .total-er span:nth-child(2) {display:inline-block; line-height:40px; margin-left:15px; vertical-align:top; font-size:24px; color:#8a8a8a;}
.av-stake .inner-wrap .inner-box:nth-child(2) {margin-top:15px;}
.av-stake .inner-wrap .inner-box .input-er input {display:inline-block; width:412px; line-height:40px; padding:0 10px; text-align:right; font-size:28px; border:none; color:#fff; background:#30323a;}
.av-stake .inner-wrap .inner-box .input-er span {margin-left:15px; float:right; font-size:24px; color:#8a8a8a;}
.av-stake .stake-btn {display:table-cell; width:165px; height:106px; vertical-align:middle; text-align:center; font-size:28px; color:#fff; background: url('../img/stake-btn1.png') no-repeat;}
.stake-btn:focus, .stake-btn:hover {color:#fff; text-decoration:none;}

.staked-amount, .amount-unstake {margin-top:10px;}
.staked-amount .inner-wrap {width:551px; height:106px; margin-right:20px; padding:5px 25px 5px 65px; float:left; background:url('../img/stake-box2.png') no-repeat;}
.staked-amount .inner-wrap .inner-box .total-er span:nth-child(1) {display:inline-block; max-width:190px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:28px; color:#fff;}
.staked-amount .inner-wrap .inner-box .total-er span:nth-child(2) {display:inline-block; line-height:40px; margin-left:15px; vertical-align:top; font-size:24px; color:#8a8a8a;}
.staked-amount .inner-wrap .inner-box:nth-child(2) {margin-top:15px;}
.staked-amount .inner-wrap .inner-box .input-er input {display:inline-block; width:412px; line-height:40px; padding:0 10px; text-align:right; font-size:28px; border:none; color:#fff; background:#30323a;}
.staked-amount .inner-wrap .inner-box .input-er span {margin-left:15px; float:right; font-size:24px; color:#8a8a8a;}
.stake-btn2 {display:table-cell; width:165px; height:106px; vertical-align:middle; text-align:center; font-size:28px; color:#fff; background: url('../img/stake-btn2.png') no-repeat;}
.stake-btn2:focus, .stake-btn2:hover {color:#fff; text-decoration:none;}

.amount-unstake .inner-wrap {height:106px; padding:15px 95px 15px 95px; background:url('../img/stake-box6.png') no-repeat;}
.amount-unstake .inner-wrap > p {margin-bottom:15px; text-align:center; font-size:18px; color:#bfbfbf;}
.amount-unstake .inner-wrap .inner-box .total-er span:nth-child(1) {display:inline-block; max-width:190px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:28px; color:#fff;}
.amount-unstake .inner-wrap .inner-box .total-er span:nth-child(2) {display:inline-block; line-height:40px; margin-left:15px; vertical-align:top; font-size:24px; color:#8a8a8a;}
.amount-unstake .stake-btn2 p {font-size:18px; color:#f3cdce;}
.amount-unstake .next-btn {float:right; padding:30px 30px;}
.amount-unstake .pre-btn {float:left; padding:30px 20px;}

.unstake-txt {margin-top:15px; font-size:14px; color:#808080;}

.payout-content {width:733px; margin:0 auto;}
.payout-content .payout-date {margin-top:25px; margin-bottom:10px; text-align:center;}
.payout-content .payout-date > span {display:inline-block; line-height:43px; margin-left:15px; margin-right:15px; vertical-align:bottom; font-size:24px; color:#ad93ff;}
.payout-content .payout-div {width:733px; height:344px; background:url('../img/payout-bg.png') no-repeat;}
.payout-div .total-text .sub-title {font-size:18px; color:#9a9dab;}
.payout-div .total-text .sub-title span {display:inline-block; width:360px; margin-top:10px; text-align:center;}
.payout-div .total-text .sub-content {margin-top:15px;}
.payout-div .total-text .sub-content p:nth-child(1) {display:table-cell; width:360px; height:290px; text-align:center; vertical-align:middle; font-size:24px; color:#fff;}
.payout-div .total-text .sub-content p:nth-child(2) {display:table-cell; width:360px; height:290px; text-align:center; vertical-align:middle; font-size:24px; color:#fff;}
.payout-div .total-text .sub-content p > span {color:#00b62f;}

.balance-content {width:800px; margin:0 auto;}
.balance-content .total-div {margin-top:20px;}
.balance-content .total-div .total-text:nth-child(1) {margin-top:20px; margin-left:35px; padding:0 90px 0 65px; background: url("../img/dividend-box1.png") no-repeat;}
.balance-content .total-div .total-text:nth-child(1) > span {line-height:75px; font-size:24px; color:#e3e3e3;}
.balance-content .total-div .total-text:nth-child(2) {margin-top:10px; margin-left:35px; padding:0 90px 0 65px; background: url("../img/dividend-box1.png") no-repeat;}
.balance-content .total-div .total-text:nth-child(2) > span {line-height:75px; font-size:24px; color:#e3e3e3;}
.balance-content .total-div .total-text .total-er, .balance-content .total-div .total-text .total-eos {float: right;}
.balance-content .total-div .total-text .total-eos span:nth-child(1) {max-width:450px; line-height:75px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:right; font-size:40px; color:#00b62f;}
.balance-content .total-div .total-text .total-er span:nth-child(1) {max-width:450px; line-height:75px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:right; font-size:40px; color:#ff6665;}
.balance-content .total-div .total-text .total-eos span:nth-child(2) {line-height:75px; margin-left:25px; font-size:24px; color:#8a8a8a; vertical-align:bottom;}
.balance-content .total-div .total-text .total-er span:nth-child(2) {line-height:75px; margin-left:25px; padding-right:15px; font-size:24px; color:#8a8a8a; vertical-align:bottom;}
.balance-btn-box {width:261px; margin:70px auto;}
.balance-btn-box .balance-btn {display:table-cell; width:261px; height:75px; text-align:center; vertical-align:middle; font-size:28px; color:#fff; background: url('../img/my-balance-btn.png') no-repeat;}

/* 'referral' modal */
.rfr-modal {width:964px; height:403px; margin-top:80px;}
.rfr-modal > .modal-content {width:947px; height:377px; border-radius:10px; background:url('../img/referral-bg.png') no-repeat;}
.rfr-modal > .modal-content .modal-header {border-bottom:0;}
.rfr-modal > .modal-content .modal-body .rfr-body {padding:25px 85px; font-size:24px; color:#e6daff;}
.rfr-modal > .modal-content .modal-body .rfr-body h1 {font-size:30px; color:#e3e3e3; text-align:center;}
.rfr-modal > .modal-content .modal-body .rfr-body > div {margin-top:65px;}
.rfr-modal > .modal-content .modal-body .rfr-body > div > input {width:550px; height:50px; margin-right:15px; padding:10px; float:left; background:#30323a; border:0; box-shadow:0 -1px 0 black;}
.rfr-modal > .modal-content .modal-body .rfr-body > div > a {display:table-cell; width:165px; height:55px; text-align:center; vertical-align:middle; color:#fff; background:url('../img/referral-btn.png') no-repeat;}
.rfr-modal > .modal-content .modal-body .rfr-body > p {margin-top:25px; font-size:14px; color:#808080;}


/* 기타 popup style */
.white-modal {width:602px; height:280px; text-align:center;}

/* download-modal */
.white-modal .modal-content .modal-header {border:none;}
.white-modal .modal-content .modal-header h1 {font-size:30px; color:#4e4e4e;}
.white-modal .modal-content .download-body {width:580px; text-align:center;}
.white-modal .modal-content .download-body > p {margin-top:20px; margin-bottom:35px; font-size:24px; color:#383838;}
.white-modal .modal-content .download-body > p:nth-child(2) {width:205px; margin:0 auto;}
.white-modal .modal-content .download-body p a {display:table-cell; width:204px; height:55px; text-align:center; vertical-align:middle; font-size:28px; color:#fff; background:url('../img/download-btn.png') no-repeat;}
/* success-modal */
.white-modal .modal-content .success-body {padding:0;}
.white-modal .modal-content .success-body p {margin-top:35px; font-size:24px; color:#383838}
/* EOS BalanceError-modal */
.warning-title {margin-left:20px;}
.white-modal .modal-content .blError-body p {margin-top:40px; font-size:24px; color:#383838;}
.white-modal .modal-content .blInfo-body p {margin-top:40px; font-size:24px; color:#383838;}
/* loading-modal */
#loading > .modal-dialog > .modal-content {display:table-cell; width:720px; height:740px; vertical-align:middle; background:transparent; box-shadow:none;}
.white-modal .modal-content .loading-body {display:table-cell; width:602px; height:280px; padding:0; vertical-align:middle;}
.white-modal .modal-content .loading-body p {margin-top:25px;font-size:24px; color:#fff;}

/*bootstrap*/
.container-fluid {width:1280px; height:70px; padding:0px !important; margin:0 auto !important;}
.modal-open {padding-right:0px !important; overflow-y: scroll !important;}




/* progress */
.progress {width: 50px; height: 50px; /*line-height: 50px;*/ background: none; margin: 0 auto; box-shadow:none; position:relative;}
.progress:after {content: ""; width: 100%; height: 100%; border-radius: 50%; border: 5px solid #7f7087; position: absolute; top: 0; left: 0;}
.progress > span {width: 50%; height: 100%; overflow: hidden; position: absolute; top: 0; z-index: 1;}
.progress .progress-left {left: 0;}
.progress .progress-bar {width: 100%; height: 100%; background: none; border-width: 5px; border-style: solid; position: absolute; top: 0; border-color: #ffce23;}
.progress .progress-left .progress-bar {left: 100%; border-top-right-radius: 75px; border-bottom-right-radius: 75px; border-left: 0; -webkit-transform-origin: center left; transform-origin: center left;}
.progress .progress-right {right: 0;}
.progress .progress-right .progress-bar {left: -100%; border-top-left-radius: 75px; border-bottom-left-radius: 75px; border-right: 0; -webkit-transform-origin: center right; transform-origin: center right;}
.progress .progress-value {display: flex; border-radius: 50%; /*font-size: 36px;*/ text-align: center; line-height: 12px; align-items: center; justify-content: center; height: 100%; font-weight: 300;}
.progress .progress-value div {/* margin-top: 10px;*/ font-size:14px; color:#ffce23;}
.progress .progress-value span {font-size: 12px; color:#b683ff; text-transform: uppercase;}

/* This for loop creates the 	necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  -webkit-animation: loading-1 1.5s linear forwards;
  animation: loading-1 1.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
  -webkit-animation: 0;
  animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards;
  animation: loading-2 1.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
  -webkit-animation: 0;
  animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  -webkit-animation: loading-3 1.5s linear forwards;
  animation: loading-3 1.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
  -webkit-animation: 0;
  animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  -webkit-animation: loading-4 1.5s linear forwards;
  animation: loading-4 1.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
  -webkit-animation: 0;
  animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
  -webkit-animation: 0;
  animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
  -webkit-animation: loading-1 1.5s linear forwards 1.5s;
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="70"] .progress-left .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards 1.5s;
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
  -webkit-animation: loading-3 1.5s linear forwards 1.5s;
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
  -webkit-animation: loading-4 1.5s linear forwards 1.5s;
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards 1.5s;
  animation: loading-5 1.5s linear forwards 1.5s;
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}
@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
}
@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.progress {
  margin-bottom: 1em;
  cursor: pointer;
}


/* unity loading progress */

.loading-progress {
  width: 100%;
  /*height: 391px;*/
  margin: 0 ;
  padding: 0px;
  border: 0px;
  position: absolute;
 /* top: 364px;*/
  display: table-cell;
  text-align: center;
  left: 0;
  opacity: 1;
}
.full {
  /*margin-top: 30px;*/
  transform-origin: top left;
  width: 263px;
  margin: 0 auto;
}
/*.loader-bg {
  width: 100%;
  height: 391px;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
  position: absolute;
  top: 364px;
  display: table-cell;
  text-align: center;
  left: 0;
  opacity: 1;
}*/
/*#loader {
  position: absolute;
  margin-top: 50px;
  left: 0;
  top: 100px;
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
#loader {position:absolute; width:690px; height:20px; top:445px; left:0; right:0; bottom:0; margin:0 auto; text-align:center;}